body, p, ol, ul, td {
  font-size: 13px;
  line-height: 22px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.clear_after:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


/*************************************/
/*** G E N E R A L   S T Y L I N G ***/
/*************************************/

html, body {
  height: 100%;
}

body {
  background: url("/images/background_tartan.png");
  font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

div#wrapper {
  background-color: white;
  width: 800px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -6em;
}

div#content {
  color: #2b2b2b;
  padding: .75em;
}

p#flash {
  width: 80%;
  margin: 0 auto 1em;
  padding: .25em;
  border: 1px solid #bdd8be;
  background-color: #efe;
  text-align: center;
}

div#footer {
  background-color: #2b2b2b;
  width: 800px;
  margin: 0 auto;
}

div#footer, div#pusher {
  height: 6em;
}

/*******************************/
/*** P O S T   S T Y L I N G ***/
/*******************************/

/* Styling for buttons for posts. */

div#new_post > form {
  float: right;
}

div#edit_post {
  margin-top: .75em;
}

div#edit_post > form {
  float: left;
}

.left_button {
  margin-right: .5em;
}

/* Styling for individual posts. */

div.post {
  margin-top: 1.5em;
}

div.post > div.post_date {
  font: small-caps 125% palatino, georgia, serif;
  letter-spacing: .25em;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

div.post > h3 {
  font: 150% palatino, georgia, serif;
  margin: 1.25em 0 .75em;
}

div.post > h3 > a {
  color: #2b2b2b;
  text-decoration: none;
}

div.post > h3 > a:hover {
  text-decoration: underline;
}