#add_comment
  - if authorized?
    %h3 add comment
    - form_for post.comments.build, :url => post_comments_path(post), :html => { :class => "clear_after" } do |form|
      %div
        = form.text_area :body
        = observe_field :comment_body, :function => "updateCommentability(value);", :frequency => 0.25
      %div= form.submit "add comment", :class => "clear_after", :disabled => true
  - else
    %h3= link_to("login with twitter", twitter_login_path(:original_location => request.request_uri))