- _add_comment(:post => post)

- unless post.comments.empty?
  %h3 Comments
  - post.comments.each do |comment|
    .comment
      .icon= image_tag(comment.icon) if comment.icon
      .name= comment.name
      .body~ comment.body