- if admin?
  #edit_post.clear_after
    = button_to "Edit post", edit_post_path(post), :class => "left_button"
    = button_to "Remove post", post_path(post), :confirm => "Are you sure?", :method => :delete